<h2> <%= @brand.name() %></h2>
<hr>

<% if @brand.stores.any? %>
  <h3>Here are the stores that currently carry this brand:</h3>
  <ul>
    <% @brand.stores.each() do |brand_store| %>
      <li><%= brand_store.name %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no stores that carry this brand.</strong></p>
    <br>

<% end %>

<p>Add a store for this brand:<p>
<form id="add_store_id" action="/brands/<%= @brand.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="brand_id" id="brand_id" value="<%= @brand.id() %>">
  <label for="store_id">Select a store:  </label>
    <br>
  <select id="store_id" name="store_id">
    <option value=""></option>
    <% @stores.each() do |store| %>
      <option value="<%= store.id() %>"><%= store.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
