<h2> <%= @store.name() %></h2>
<hr>

<% if @store.brands.any? %>
  <h3>Here are the brands currently sold in this store:</h3>
  <ul>
    <% @store.brands.each() do |store_brand| %>
      <li><%= store_brand.name %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no brands sold in this store.</strong></p>
    <br>

<% end %>

<p>Add a brand to this store:<p>
<form id="add_brand_id" action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="store_id" id="store_id" value="<%= @store.id() %>">
  <label for="brand_id">Select a brand:  </label>
    <br>
  <select id="brand_id" name="brand_id">
    <option value=""></option>
    <% @brands.each() do |brand| %>
      <option value="<%= brand.id() %>"><%= brand.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>


<hr><br>

<form action="/rename_store/<%= @store.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input id="store" name="store" type="text">
  <br><br>
  <button type="submit" class="btn btn-success">Update Store Name</button>
</form>
<br>

<form action="/delete_store/<%= @store.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Store</button>
</form>
